<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo.png" alt="Logo"/>
        </div>
        <nav>
            <ul>
              <li><a href="">Smartphones</a></li>
              <li><a href="">Tablets</a></li>
              <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
              <li><a href="">Login</a></li>
              <li><a href="">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <article>
               <img src="/images/img-phone-01.jpg" alt="Phone 01">
               <h4>Nombre del Producto</h4>
               <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
               <button>ver más</button>
             </article>
            
             <article>
                <img src="/images/img-phone-02.jpg" alt="Phone 02">
                <h4>Nombre del Producto</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
                <button>ver más</button>
              </article>

              <article>
                <img src="/images/img-phone-03.jpg" alt="Phone 03">
                <h4>Nombre del Producto</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
                <button>ver más</button>
              </article>

              <article>
                <img src="/images/img-phone-01.jpg" alt="Phone 01">
                <h4>Nombre del Producto</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
                <button>ver más</button>
              </article>

              <article>
                <img src="/images/img-phone-02.jpg" alt="Phone 02">
                <h4>Nombre del Producto</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
                <button>ver más</button>
              </article>

              <article>
                <img src="/images/img-phone-03.jpg" alt="Phone 03">
                <h4>Nombre del Producto</h4>
                <p>ipsum dolor sit amet consectetur adipisicing elit. Nobis ratione non neque omnis distinctio aperiam illo quos, molestiae sequi laboriosam, earum quidem cum ipsam,</p>
                <button>ver más</button>
              </article>

        </section>

         <aside>
            
            <section>
              <h2>Tutoriales</h2>
              <article>
                <img src="/images/aside-01.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>
              </article>

              <article>
                <img src="/images/aside-02.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>
              </article>

              <article>
                <img src="/images/aside-03.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>
              </article>

              <article>
                <img src="/images/aside-04.jpg" alt="Motherboard">
                <p>Titulo del tutorial de reparacion</p>
              </article>

            </section>

            <section>
              <h2>Publicidad</h2>
              <img src="/images/ad-01.jpg" alt="Publicidad">
              <img src="/images/ad-02.jpg" alt="Publicidad">
            </section>
         </aside>

    </main>
</body>
</html>